body {
	min-width: 800px;
	margin: 0;
}

$light-gray: #BCBCBC;
$dark-gray: #242424;
$hover-color: #2D9FEB;
$bottom-bar-height: 1px;


.navigation-container {
	min-height: 56px;
	margin-top: 30px;
	padding: 0 20px;

	.cities-list {
		display: flex;
		justify-content: space-around;
	}
}

.city-item {
	display: inline-block;
	margin: 20px 15px 17px;
	color: $light-gray;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		color: $hover-color;
	}

	&.black-highlight {
		color: $dark-gray;
	}
}


.bottom-bar {
	height: $bottom-bar-height;
	background-color: $light-gray;

	.slider {
		height: $bottom-bar-height;
		background-color: $dark-gray;
	}

}

.local-time-container {
	display: flex;
	justify-content: center;
	align-items: center; 
	padding: 70px 50px 50px;
	color: $light-gray;

	.time {
		font-size: 22px;
		margin-left: 4px;
	}
}