body {
	min-width: 800px;
	margin: 0;
}

$gray-color: #BCBCBC;
$bottom-bar-height: 1px;

.navigation-container {
	min-height: 56px;
	margin-top: 30px;
	padding: 0 20px;

	.cities-list {
		display: flex;
		justify-content: space-around;
	}
}

.city-item {
	display: inline-block;
	margin: 20px 20px 17px;
	color: $gray-color;
	font-size: 16px;
	cursor: pointer;
}


.bottom-bar {
	height: $bottom-bar-height;
	background-color: $gray-color;

	.slider {
		height: $bottom-bar-height;
		background-color: black;
	}

}